.Getintouch {
  text-align: center;
  background-color: white;
  padding: 60px;
  margin: 60px;
  @media (max-width: 500px) {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }


  @media (max-width: 700px) {
    // padding:20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }


  a{
    color: #a67564;
    text-decoration: none;
  }
  .title {
    font-family: "Ivar Display Hydro";
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 68px;

    text-transform: capitalize;

    color: #723e31;
    @media (max-width: 700px) {
      font-size: 35px;
    }
  }
  .line2 {
    font-family: "Neue Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;

    color: #a67564;

    @media (max-width: 700px) {
      font-size: 18px;
    }
  }

  .contact {
    font-family: "Neue Helvetica";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;

    color: #a67564;
    margin-top: 20px;
    @media (max-width: 700px) {
      font-size: 18px;
    }
  }
  span {
    font-weight: 400;
  }
  .email {
    font-family: "Neue Helvetica";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;

    color: #a67564;
    @media (max-width: 700px) {
      font-size: 18px;
    }
  }
  div {
    svg {
      margin: 20px;
      font-size: 2rem;
      color: #a67564;
    }
  }
}
