.navbar{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media(max-width: 800px){
        display: none;
    }
    .navitems{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .navitem{
            margin: 0 10px;
            font-size: 21px;
            line-height: 28px;

            a{
                text-decoration: none;
                color: #5D4F3F;
            }
        }
    }
}