.featuredProducts{
    display: flex;
    align-items: center;
    margin: 99px 99px 50px 99px;
    justify-content: space-between;

    .title{
        font-size: 64px;
        font-weight: 400;
        line-height: 83px;
        letter-spacing: -0.015em;
        
    }

    .btn{
        background-color: transparent;
        color: #723E31;
        border: 1.5px solid #723E31;
        height: 64px;
        padding: 16px 32px;
        font-size: 24px;
        cursor: pointer;
    }
}
