$color-light: #F2F1EF;
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: $color-light;
}
img{
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Neue';
  src: url('../assets/font/HelveticaNeue-Light.otf');
  src: url('../assets/font/IvarDisplayHydro-Regular.ttf');
  src: url('../assets/font/IvarTextHydro-Bold.ttf');
  src: url('../assets/font/IvarTextHydro-BoldItalic.ttf');
  src: url('../assets/font/IvarTextHydro-BoldItalic.ttf');
  src: url('../assets/font/IvarTextHydro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
  

